<div class="sideBar is-hidden-mobile">
  <aside class="menu">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li>
        <a routerLink="dashboard" routerLinkActive="is-active">
          <i class="fas fa-tachometer-alt"></i> Dashboard
        </a></li>
    </ul>
    <p class="menu-label">
      Tools
    </p>
    <ul class="menu-list">
      <li>
        <a routerLink="news" routerLinkActive="is-active">
          <i class="fas fa-newspaper"></i> Manage Content
        </a>
      </li>
      <li>
        <a routerLink="user" routerLinkActive="is-active">
          <i class="fas fa-users"></i> Manage Users
        </a>
      </li>
      <li>
        <a routerLink="subject" routerLinkActive="is-active">
          <i class="fas fa-book-open"></i> Manage Subjects
        </a>
      </li>
      <li>
        <a routerLink="exam" routerLinkActive="is-active">
          <i class="fas fa-user-edit"></i> Manage Exams
        </a>
      </li>
      <li>
        <a>
          <i class="fas fa-chart-bar"></i> Reports
        </a>
      </li>
    </ul>
  </aside>
</div>