:host ::ng-deep .ck-editor__editable {
    min-height: 62vh;
    max-height: 62vh;
}

.exam-page {
    margin: 10px;
    .tile.is-parent {
        padding: 0;
        border: 1px solid #c4c4c4;
        height: 67vh;
    }
}

