
<div>  
  <app-non-nav-bar></app-non-nav-bar>
  
  <div #preLoader>
    <app-page-loader></app-page-loader>
  </div>
  
  <div class = "update-password-component"  style = "background-image:url('../../../../assets/img/bg.png') !important;     min-height: 100vh;">
    <div class = "columns">
      <div class = "column"></div>
      <div class = "column is-two-fifths">
        <div class = "padding-10"></div>
          <div class="notification update-password-panel">
              <img src = "../../../../assets/img/log1o.png" class = "logo">
              <div class = "columns">
                <div class = "column"></div>
                <div class = "column is-two-thirds">
                  <br/>
                  <form #userUpdatePass name = "formLogin" (ngSubmit)="updatePasswordOnSubmit($event, userUpdatePass.value)">
                    <h3 class = "title is-6">Enter your new password</h3>
                    <div class="field">
                      <p class="control">
                        <input class="input is-primary is-rounded" [(ngModel)] = "password" name = "password" type="password" placeholder="New Password"/>
                      </p>
                    </div>
                    <div class="field">
                      <p class="control">
                        <input class="input is-primary is-rounded" name = "retype" type="password" placeholder="Retype New Password"/>
                      </p>
                    </div>
                  <br/>
                  <div class="field">
                    <p class="level-right">
                      <button type = "submit" class = "button is-primary is-rounded custom-button-primary"> Submit </button>
                    </p>
                  </div>
                  </form>
                </div>
                <div class = "column"></div>
              </div>
  
          </div>
          <div class = "padding-10"></div>
      </div>
      <div class = "column"></div>
      </div>
  
  </div>
  <!-- <br/><br/><br/><br/><br/><br/><br/><br/> -->
  </div>
  