<hr/>
<img src = "../../../../../assets/img/logo.png">
  <hr/>
  <div class = "side-nav-wrapper">
    <strong><small>OVERALL PROGRESS</small></strong>
    <br/>
    <small class = "rank-text-color">< Rank ></small>
    <br/>
    <progress class="progress is-warning" max="100" value="15"></progress>
  </div>
  <hr/>
  <div class = "side-nav-wrapper">
    <strong><small>Subjects</small></strong>
    <br/>
    <div class = "subject-wrapper">
      <small class = "">Management Accounting</small>
      <progress class="progress is-warning" max="100" value="40"></progress>
    </div>
    <div class = "subject-wrapper">
        <small class = "">Auditing</small>
        <progress class="progress is-warning" max="100" value="33"></progress>
    </div>
    <div class = "subject-wrapper">
        <small class = "">Taxation</small>
        <progress class="progress is-warning" max="100" value="100"></progress>
    </div>
    
  </div>
  <hr/>
  <div class = "side-nav-wrapper">
    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <a class="" aria-haspopup="true" aria-controls="dropdown-menu2">
          <strong><small>Help </small></strong>
          <span ><!-- class="icon is-small" -->
          <i class="fa fa-caret-down"></i>
          </span>
        </a>
      </div>
      <div class="dropdown-menu" id="dropdown-menu2" role="menu">
        <div class="dropdown-content">
          <div class="dropdown-item">
            <p><a href = "#">Option 1</a></p>
            <p><a href = "#">Option 1</a></p>
            <p><a href = "#">Option 1</a></p>
            <p><a href = "#">Option 1</a></p>
            <p><a href = "#">Option 1</a></p>
            <p><a href = "#">Option 1</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>