.modal {
    .modal-card {
        .modal-card-head {
            .modal-card-title {
                margin-bottom: 0;
            }
        }
        .modal-card-body {
            padding: 0;
            .accordion-header {
                background-color: #fff;
                color: black;
                box-shadow: -4px 9px 5px #b3b0b0;
                .accordion-content {
                    background-color: #dedede;
                }
            }
        }
    }
}