<!-- <div class="columns is-multiline home-subject-overview-component"> -->
    <!--  -->
  
      <div class="notification custom-notif"style = "cursor: pointer; background-image: url(../../../../../assets/img/panel-bg.png); background-repeat: no-repeat; background-size: 70px 53px; background-position: top right;">
        <div class="level" title="level">
          <div class="level-left bd-structure-item" title="level-left">
            <div class="level-item">
              &nbsp;&nbsp; {{list.name}}
            </div>
          </div>
          <!-- <div class="level-right bd-structure-item" title="level-right">
              <img src = "../../../../../assets/img/panel-bg.png" class = "subject-cover level-right"/>
          </div> -->
        </div>
        <br/>
        <div class = "progress-content">
          <progress class="progress is-primary" max="100" value={{list.progress}}></progress>
          <span>{{list.progress}}% Complete</span>
        </div>
      </div>
  
      
<!-- </div> -->
