.subject-component{
    .breadcrumb-link{
        text-decoration: none;
    }

    .notification.is-primary {
        background-color: #296eb5;
        
    }
    .subject-list{
        height: 6rem !important;
    }
    .box{
        cursor: pointer;
        position: relative;
    }
    .subject-lock{
        background: rgba(255,255,255,0.6);
        cursor: not-allowed;
    }
    .subject-lock-tag{
        background: none repeat scroll 0 0 #e21f31;
        border: 2px solid #ffffff;
        border-radius: 25px;
        color: #fff;
        font-size: 9px;
        /* font-weight: bold; */
        padding: 5px 15px;
        position: absolute;
        right: -10px;
        top: -10px;
    }
}

