<div class="message is-primary home-news-component">
    <div class="message-header">
      <p>NEWS</p>
    </div>
    <div class="message-body custom-content-body">

      <nav class="tabs is-boxed is-small custom-scroll">
          <div class="container">
            <ul>
              <li class="tab is-active" (click)="openRecentActivityTab($event,'tabAnnouncement')"><a class = "tab-recent-activity"><b class = "tab-name">ANNOUNCEMENT</b></a></li>
              <li class="tab" (click)="openRecentActivityTab($event,'tabSubjectUpdate')"><a class = "tab-recent-activity"><b class = "tab-name">SUBJECT UPDATES</b></a></li>
            </ul>
          </div>
        </nav>


      <div class="tab-custom-content">
          <div id="tabAnnouncement" class="content-tab">
              <div  *ngFor = "let newsInfo of newsList;">
                <p>{{newsInfo.title}}</p>
                <hr class = "news-line"/>
              </div>
          </div>
          <div id="tabSubjectUpdate" class="content-tab" style="display:none">
              <p>222Lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <hr class = "news-line"/>
              <p>111Lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <hr/>
          </div>
      </div>
      

    </div>
  </div>