
@import '../../../../styles';

.home-component{
    .text-color-sample{
        color: #ffffff;
    }
    .side-nav-height{
        min-height: 100vh;
        background-color: #ffffff;
    }
    
    
}