body{
    background-image: url("../../../../assets/img/bg.jpg") !important;
}
.login-component{
    .login-panel {
        border-radius: 25px;
        border: 2px solid #FFFF;
        padding: 20px;
        width: 100%;
        border: 1px solid;
        border: 1px solid #BFBFBF;
        background-color: white;
        box-shadow: -6px 6px 20px #969292;
      }
      .padding-10{
          padding-top: 10vh;
      }
      .login-logo{
        padding: 2vh 15vh;
      }
      .custom-button-primary{
        width: 25vh;
        background-color: #003469;
      }
      .custom-button-secondary{
        background-color: #ffc000;
        width: 100%;
      }
      .text-center{
        text-align:center;
      }
      .margin-1{
        margin:1vh;
      }

      .input.is-rounded {
        border-radius: 12px !important;
      }
}
