<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<nav class="navbar is-primary custom-navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand ">
    <!-- <a class="navbar-item custom-navbar" href="/">
      <img class = "custom-navbar-logo" src = "../../../../../assets/img/brand.png">
    </a> -->
    <!-- <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarFront">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a> -->
  </div>
  <div id="navbarFront" class="navbar-menu" #navMenu>
    <!-- <div class="navbar-start">
      <a class="navbar-item"> Home </a>
    </div>
    <div class="navbar-end">
        <a class="navbar-item custom-item custom-is-active" href="/" target="_blank"><span class = "fa fa-home"></span> &nbsp; HOME </a>
        <a class="navbar-item custom-item" href="/" target="_blank"><span class = "fa fa-file-invoice"></span> &nbsp; MY SUBJECTS </a>
        <a class="navbar-item custom-item" href="/" target="_blank"><span class = "fa fa-bell"></span> &nbsp; NOTIFICATION </a>
        <a class="navbar-item custom-item" href="/" target="_blank"><span class = "fa fa-user-circle"></span> &nbsp; PROFILE </a>
      </div> -->
  </div>
</nav>


