
<div>  
  <app-non-nav-bar></app-non-nav-bar>
  
  <div #preLoader>
    <app-page-loader></app-page-loader>
  </div>
  
  <div class = "reset-password-component"  style = "background-image:url('../../../../assets/img/bg.png') !important;     min-height: 100vh;">
    <div class = "columns">
      <div class = "column"></div>
      <div class = "column is-two-fifths">
        <div class = "padding-10"></div>
          <div class="notification reset-password-panel">
              <img src = "../../../../assets/img/logo.png" class = "logo">
              <div class = "columns">
                <div class = "column"></div>
                <div class = "column is-two-thirds">
                  <br/>
                  <form #userResetPass name = "formLogin" (ngSubmit)="resetPassOnSubmit(userResetPass.value)">
                    <h3 class = "title is-5">Forgot Password</h3>
                    <div class="field">
                      <p class="control">
                        <input class="input is-primary is-rounded" [(ngModel)] = "email" name = "email" type="text" placeholder="Enter your email"/>
                        <small>Forgotten your password? Enter your email address below, and we'll email instructions for setting new one</small>
                      </p>
                    </div>
                  <br/>
                  <div class="field">
                    <p class="level-right">
                      <button type = "submit" class = "button is-primary is-rounded custom-button-primary"> Submit </button>
                    </p>
                  </div>
                  </form>
                </div>
                <div class = "column"></div>
              </div>
  
          </div>
          <div class = "padding-10"></div>
      </div>
      <div class = "column"></div>
      </div>
  
  </div>
  <!-- <br/><br/><br/><br/><br/><br/><br/><br/> -->
  </div>
  